access.record.bucket = dummy.bucket

aws.access.key = dummy.key
aws.secret.key = dummy.key

synapse.user = dummy.user
synapse.password = dummy.password

dw.url = dummy.url
dw.username = dummy.username
dw.password = dummy.password

# Credentials for the Bridge IAM user that has read access to
# Bridge DynamoDB and the S3 backup buckets
bridge.aws.access.key = dummy.value
bridge.aws.secret.key = dummy.value
